{% extends 'base.html' %} {% block content %}

<h1>Catch</h1>


<div class="card">
    <div class="card-content">
      <span class="card-title">{{ catch.species }}</span>
      <p>Length: {{ catch.length }} in.</p>
      <p>Weight: {{ catch.weight }} lbs</p>
      {% if catch.length >= 14 %}
      <p>Kept: Yes</p>
      {% else %}
      <p>Kept: No</p>
      {% endif %}
    </div>
    <div class="card-action">
      <a href="{% url 'catches_update' catch.id %}">Edit</a>
      <a href="{% url 'catches_delete' catch.id %}">Delete</a>
    </div>
</div>
{% endblock %}